python-dotenv==1.0.1
streamlit==1.37.1
pydantic==2.8.2
chromadb==0.5.5
sentence-transformers==3.0.1
langchain==0.2.14
langchain-core==0.2.35
langchain-community==0.2.12
langchain-text-splitters==0.2.2
langchain-openai==0.1.22
langchain-chroma==0.1.2
langchain-huggingface==0.0.3
langgraph==0.2.14
tiktoken==0.7.0
certifi==2024.8.30
